body {
    background-color: cadetblue;
    color: black;
    font-size: 20px;
    padding-left: 40px;
}
#button {

    background-color: darkblue;
    color: lightgoldenrodyellow;
    padding: 15px;
}

#sortName{
    background-color: darkslateblue;
    color: lightgoldenrodyellow;
    padding: 15px;

}
#sortPercent{
    background-color: steelblue;
    color: lightgoldenrodyellow;
    padding: 15px;

}

